.container {
  padding: 1rem;
}

.registerLoginPassword {
  padding-bottom: 1rem;
  display: flex;
}

.registerWorkCode {
  max-width: 25rem;
  padding-bottom: 1rem;
}

.loadingLoginPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15.8rem;
  width: 100%;
  padding-bottom: 1rem;
}

div.loadingLoginPassword img {
  width: 5rem;
}
